# Database
export DB_USER=prisma
export DB_PASSWORD=prisma
export DB_HOST=postgres
export DB_PORT=5432
export DB_NAME=prisma

# Hasura
export HASURA_GRAPHQL_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
export HASURA_GRAPHQL_ENABLE_CONSOLE=true
export HASURA_GRAPHQL_ENABLED_LOG_TYPES='startup, http-log, webhook-log, websocket-log, query-log'
export HASURA_GRAPHQL_MIGRATIONS_DIR=$PWD/hasura/migrations
export HASURA_ENDPOINT=http://localhost:8081/v1/graphql

# GitHub Actions

export GITHUB_API_TOKEN=skoobydoobydoo # Fill me in
export GITHUB_USERNAME=miking-the-viking # Fill me in
export GITHUB_REPOSITORY=github-actions-with-hasura-and-docker # Fill me in

# Automatically configured
export GITHUB_REPOSITORY_URL=https://github.com/${GITHUB_USERNAME}/${GITHUB_REPOSITORY}
export GITHUB_ACTIONS_AGENT_TOKEN=asdfasdflkhsadkjfhasdf
